/LADCH21082023.EntidadesDeNegocio/nbproject/private/
/LADCH21082023.AccesoADatos/nbproject/private/
/LADCH21082023.AppWeb/nbproject/private/
/LADCH21082023.AccesoADatos/build/
/LADCH21082023.EntidadesDeNegocio/build/
/LADCH21082023.EntidadesDeNegocio/dist/
/LADCH21082023.AccesoADatos/dist/
/LADCH21082023.AppWeb/build/
/TestProyectos/nbproject/private/
/TestProyectos/build/
